[Unit]
Description=citen - ssh jump host
After=network.target

[Service]
ExecStart=/usr/local/bin/citen
Restart=always

DynamicUser=yes
AmbientCapabilities=CAP_NET_BIND_SERVICE

ConfigurationDirectory=citen
Environment=CITEN_LISTEN=0.0.0.0:22

# Allow hosts from 192.168.128.1 to 192.168.255.254
Environment=CITEN_ALLOW=192.168.128.0/17

[Install]
WantedBy=multi-user.target