[Unit]
Description=one-purpose ssh daemon for jump hosts
After=network.target

[Service]
ExecStart=/usr/local/bin/citen
Restart=always

DynamicUser=yes
AmbientCapabilities=CAP_NET_BIND_SERVICE
ConfigurationDirectory=citen

# use systemd overrides to change these values to your liking
#
# try to listen on every interface port 22
Environment=CITEN_LISTEN=0.0.0.0:22

# allow only connections to localhost
# its not too bad if left unconfigured
Environment=CITEN_ALLOW=127.0.0.1/32

[Install]
WantedBy=multi-user.target
